.search-bar{
  text-align:center;
  width: 90%;
  padding-bottom:40px;
  padding-top:40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom:solid;
  border-left: 10px;
  border-bottom-color:red;
}

.search-bar .d-flex{
  justify-content: center;
}
